<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zf.daymatter">

    <application
        android:name="com.allever.daymatter.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.allever.daymatter.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.allever.daymatter.ui.AddDayMatterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.daymatter.ui.DayMatterDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.daymatter.ui.ModifyDayMatterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.allever.daymatter.ui.SortListActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="com.allever.daymatter.receiver.CurrentAlarmReceiver"
            />
    </application>

</manifest>